{#{% for flash_message in app.session.flashbag.get('success') %}#}
{#    <div class="alert alert-success mt-2">#}
{#        {{ flash_message }}#}
{#    </div>#}
{#{% endfor %}#}

{#{% for flash_message in app.session.flashbag.get('error') %}#}
{#    <div class="alert alert-danger mt-2">#}
{#        {{ flash_message }}#}
{#    </div>#}
{#{% endfor %}#}